<!DOCTYPE html>
<html lang="fi" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ilmainen proxypalvelin - kaikkitietokoneista.net ylläpitämä</title>
    <style media="screen">
      body {
        margin: 0;
        margin-top: 0;
        font-family: monospace;
      }

      header {
        background: linear-gradient(0.25turn, #023E8A, #ADE8F4);
        color: white;
      }

      section {
        padding: 8px;
        border: 1px solid black;
      }

      .container {
        padding: 24px;
      }

      tr {
        text-align: center;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      table {
            border:none;
            border-collapse: collapse;
        }

        table td {
            padding: 4px;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }

        table td:first-child {
            border-left: none;
        }

        table td:last-child {
            border-right: none;
        }
    </style>
  </head>
  <body>
    <header>
      <br>
      <h1>Proxymoxy</h1>
      <br>
    </header>
    <div class="container">
      <section>
        <table style="width: 100%;">
          <tr>
            <th>Kuvaus</th>
            <th>Osoite</th>
          </tr>
          <tr>
            <td>Web UI (tämä)</td>
            <td><a href="<%= uri %>:<%= web_port %>"><%= uri %>:<%= web_port %></a></td>
          </tr>
          <tr>
            <td>HTTP Proxy</td>
            <td><a href="<%= uri %>:<%= proxy_port %>"><%= uri %>:<%= proxy_port %></a></td>
          </tr>
        </table>
      </section>
    </div>
    <div class="container">
      <section>
        <h2>Käyttäminen (komentorivi)</h2>
        <section>
          <pre>export http_proxy='<%= uri %>:<%= proxy_port %>'</pre>
        </section>
        <h2>Käyttäminen (GUI)</h2>
        <section>
          <p>
            Aseta HTTP-Proxyn arvoksi <%= uri %>:<%= proxy_port %>.
          </p>
        </section>
      </section>
    </div>
  </body>
</html>
